@import './common.scss';

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.test-enter-active,
.test-leave-active {
  transition: opacity 1s;
}

.test-enter,
.test-leave-active {
  opacity: 0;
}

.nuxt-link-active {
  color: #8F1577 !important;
}